.afisha {
    .afisha__wrapper {
        max-width: 1200px;
        padding: 0 30px;
        margin: 70px auto 0;
        .afisha__navigation {
            padding: 40px 0 0 0;
        }
        .afisha__cards {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            .cards__item {
                width: 270px;
                padding: 0 10px;
                margin: 0 auto;
            }
            .cards__item.center-4 {
                grid-column: span 4;
            }
        }
        .afisha__text {
            margin: 60px 0;
            p {
                line-height: 26px;
                margin: 0 0 16px 0;
                a {
                    color: rgb(28, 156, 223);
                    transition: all 0.2s ease 0s;
                    &:hover {
                        color: rgb(212, 7, 84);
                        transition: all 0.3s ease 0s;
                    }
                }
            }
        }
    }
}

@media (max-width: 1199.98px) {
    .afisha .afisha__wrapper .afisha__cards {
        .cards__item {
            width: 240px;
        }
    }
    
}

@media (max-width: 1023.98px) {
    .afisha .afisha__wrapper {
        .afisha__cards {
            grid-template-columns: repeat(3, 1fr);
            .cards__item {
                width: 250px;
            }
            .cards__item.center-3 {
                grid-column: span 3;
            }
            .cards__item.center-4 {
                grid-column: span 1;
            }
        }
    }
}
@media (max-width: 899.98px) {
    .afisha .afisha__wrapper .afisha__cards {
        .cards__item {
            width: 235px;
        }
    }
}
@media (max-width: 767.98px) {
    .afisha .afisha__wrapper {
        .afisha__cards {
            grid-template-columns: repeat(2, 1fr);
            .cards__item {
                width: 250px;
            }
            .cards__item.center-3 {
                grid-column: span 1;
            }
            .cards__item.center-2 {
                grid-column: span 2;
            }
        }
    }
}
@media (max-width: 599.98px) {
    .afisha .afisha__wrapper {
        .afisha__navigation {
            padding: 45px 0 0 0;
        }
        .afisha__cards {
            grid-template-columns: repeat(1, 1fr);
            .cards__item {
                width: 100%;
            }
            .cards__item.center-2 {
                grid-column: span 1;
            }
        }
    }
}