.navigationItem {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  position: relative;
}
.navigationItem .navigationItem__image {
  width: 35px;
}
.navigationItem .navigationItem__text {
  padding: 0 0 0 15px;
  margin: 0 10px 0 0;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
}
.navigationItem .navigationItem__arrow {
  transition: all 0.3s ease 0s;
}
.navigationItem .navigationItem__arrow.rotate {
  transform: rotate(180deg);
  transition: all 0.3s ease 0s;
}

.navigationItem__choise-block {
  position: absolute;
  max-width: 284px;
  width: calc((100% - 60px) / 4 - 1px);
  max-height: 0;
  background-color: rgb(241, 241, 241);
  z-index: 1;
  overflow: hidden;
  transition: max-height 0.15s ease-in-out;
}
.navigationItem__choise-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(212, 7, 84);
}
.navigationItem__choise-block.show {
  max-height: 100%;
  transition: max-height 0.25s ease-in-out;
}

@media (max-width: 899.98px) {
  .navigationItem__choise-block {
    max-width: 569px;
    width: calc((100% - 60px) / 2 - 1px);
  }
}
@media (max-width: 599.98px) {
  .navigationItem {
    padding: 15px 20px 15px 25px;
  }
  .navigationItem .navigationItem__image {
    width: 30px;
  }
  .navigationItem__choise-block {
    width: calc(100% - 60px);
  }
}
@media (max-width: 479.98px) {
  .navigationItem {
    padding: 13px 20px;
  }
  .navigationItem .navigationItem__image {
    width: 26px;
  }
  .navigationItem__choise-block {
    width: calc(100% - 60px);
  }
}