.footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 90px 15px 25px;
  color: rgba(255, 255, 255, 0.5);
}
.footer .footer__icons {
  display: flex;
  justify-content: space-between;
}
.footer .footer__icons .footer__social-networks {
  display: flex;
  gap: 24px;
}
.footer .footer__icons .footer__payments {
  display: flex;
  align-items: center;
  gap: 30px;
  filter: brightness(85%);
  transition: all 0.2s ease 0s;
}
.footer .footer__icons .footer__payments img {
  height: 32px;
}
.footer .footer__icons .footer__payments .visa {
  height: 20px;
}
.footer .footer__icons .footer__payments:hover {
  filter: brightness(100%);
  transition: all 0.3s ease 0s;
}
.footer .footer__line {
  width: 100%;
  height: 1px;
  margin: 45px 0;
  background-color: rgba(255, 255, 255, 0.2);
}
.footer .footer__legal {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 0 40px 0;
}
.footer .footer__legal .links {
  display: flex;
  gap: 20px;
}
.footer .footer__legal .links a {
  color: rgb(28, 156, 223);
  transition: all 0.2s ease 0s;
}
.footer .footer__legal .links a:hover {
  color: rgb(212, 7, 84);
  transition: all 0.3s ease 0s;
}
.footer .footer__registry {
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  margin: 0 0 12px 0;
}
.footer .footer__email {
  font-size: 11px;
  line-height: 22px;
  text-align: center;
}

@media (max-width: 767.98px) {
  .footer .footer__icons .footer__social-networks {
    gap: 20px;
  }
  .footer .footer__icons .footer__payments {
    gap: 25px;
  }
  .footer .footer__legal .links {
    gap: 15px;
  }
}
@media (max-width: 599.98px) {
  .footer .footer__icons {
    flex-direction: column;
    gap: 30px;
  }
  .footer .footer__icons .footer__social-networks {
    justify-content: center;
    gap: 30px;
  }
  .footer .footer__icons .footer__payments {
    justify-content: center;
    gap: 35px;
  }
  .footer .footer__legal {
    flex-direction: column;
    gap: 22px;
    margin: 0 0 30px 0;
  }
  .footer .footer__legal .copyright {
    text-align: center;
  }
  .footer .footer__legal .links {
    justify-content: center;
  }
}
@media (max-width: 479.98px) {
  .footer .footer__icons .footer__social-networks {
    gap: 20px;
  }
  .footer .footer__icons .footer__payments {
    gap: 25px;
    flex-wrap: wrap;
  }
  .footer .footer__legal .links {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}